<div class="h-screen bg-gray-800 text-white">
    <div class="p-6">
        <div class="mb-10">
            <img class="mx-auto h-12 w-auto" src="your-logo.png" alt="Logo">
            <h2 class="mt-6 text-center text-3xl font-extrabold text-white">
                Your Company Name
            </h2>
        </div>
        <nav class="mt-10">
            <ul>
                <li class="my-li-class">
                    <a href="#">
                        <span class="material-icons">home</span>
                        <span class="ml-3">Home</span>
                    </a>
                </li>
                <li class="my-li-class">
                    <a href="#">
                        <span class="material-icons">list</span>
                        <span class="ml-3">My Task</span>
                    </a>
                </li>
                <li class="my-li-class">
                    <a href="#">
                        <span class="material-icons">calendar_today</span>
                        <span class="ml-3">Calendar</span>
                    </a>
                </li>
                <li class="my-li-class">
                    <a href="#">
                        <span class="material-icons">notifications</span>
                        <span class="ml-3">Notifications</span>
                    </a>
                </li>
            </ul>
        </nav>
        <div class="mt-10">
            <ul>
                <li class="my-li-class">
                    <a href="#">
                        <span class="material-icons">settings</span>
                        <span class="ml-3">Setting</span>
                    </a>
                </li>
                <li class="my-li-class">
                    <a href="#">
                        <span class="material-icons">help_outline</span>
                        <span class="ml-3">Support</span>
                    </a>
                </li>
                <li class="my-li-class">
                    <a href="#">
                        <span class="material-icons">report_problem</span>
                        <span class="ml-3">Report</span>
                    </a>
                </li>
                <li class="my-li-class">
                    <a href="#">
                        <span class="material-icons">logout</span>
                        <span class="ml-3">Logout</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>