<div class="flex flex-row p-4 bg-slate-100 shadow-md gap-3 w-full justify-between">
    <div>
        <P>Dashboard</P>
        <p>Hello, emeric!</p>
    </div>
    <div>
        <div class="relative   min-w-20">
            <input type="text" class="pl-10 pr-3 py-2 border rounded-full shadow w-full bg-slate-800"
                placeholder="Search...">
            <i
                class="material-icons absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500 bg-blue-500 rounded-full">
                search
            </i>
        </div>

    </div>
    <div>
        <i class="material-icons">help</i>
        <i class="material-icons">notifications</i>
        <i class="material-icons">account_circle</i>

    </div>
</div>